{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "endOfLine": "lf",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./global.css",
  "tailwindAttributes": ["className"],
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/assets/(.*)$",
    "^@/constants/(.*)$",
    "^@/feature/(.*)$",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/core/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
