@import "tailwindcss";
@import "uniwind";
@import "tw-animate-css";

@theme {
    --radius: 10px;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --spacing-hairline: hairlineWidth();
}

@layer theme {
    :root {
        @variant light {
            --color-background: oklch(0.9940 0 0);
            --color-foreground: oklch(0 0 0);
            --color-card: oklch(0.9940 0 0);
            --color-card-foreground: oklch(0 0 0);
            --color-popover: oklch(0.9911 0 0);
            --color-popover-foreground: oklch(0 0 0);
            --color-primary: oklch(0.5393 0.2713 286.7462);
            --color-primary-foreground: oklch(1.0000 0 0);
            --color-secondary: oklch(0.9540 0.0063 255.4755);
            --color-secondary-foreground: oklch(0.1344 0 0);
            --color-muted: oklch(0.9702 0 0);
            --color-muted-foreground: oklch(0.4386 0 0);
            --color-accent: oklch(0.9393 0.0288 266.3680);
            --color-accent-foreground: oklch(0.5445 0.1903 259.4848);
            --color-destructive: oklch(0.6290 0.1902 23.0704);
            --color-destructive-foreground: oklch(1.0000 0 0);
            --color-border: oklch(0.9300 0.0094 286.2156);
            --color-input: oklch(0.9401 0 0);
            --color-ring: oklch(0 0 0);
        }

        @variant dark {
            --color-background: oklch(0.141 0.005 285.823);
            --color-foreground: oklch(0.985 0 0);
            --color-card: oklch(0.21 0.006 285.885);
            --color-card-foreground: oklch(0.985 0 0);
            --color-popover: oklch(0.21 0.006 285.885);
            --color-popover-foreground: oklch(0.985 0 0);
            --color-primary: oklch(0.606 0.25 292.717);
            --color-primary-foreground: oklch(0.969 0.016 293.756);
            --color-secondary: oklch(0.274 0.006 286.033);
            --color-secondary-foreground: oklch(0.985 0 0);
            --color-muted: oklch(0.274 0.006 286.033);
            --color-muted-foreground: oklch(0.705 0.015 286.067);
            --color-accent: oklch(0.274 0.006 286.033);
            --color-accent-foreground: oklch(0.985 0 0);
            --color-destructive: oklch(0.704 0.191 22.216);
            --color-destructive-foreground: oklch(1.0000 0 0);
            --color-border: oklch(1 0 0 / 10%);
            --color-input: oklch(1 0 0 / 15%);
            --color-ring: oklch(0.38 0.189 293.745);
        }
    }
}